NEXT_PUBLIC_SHOPIFY_DOMAIN=cocktail-x.myshopify.com
NEXT_PUBLIC_SHOPIFY_STOREFRONT_TOKEN=your-storefront-access-token
INSTAGRAM_ACCESS_TOKEN=your-instagram-access-token

# Meta Business Suite — Domain Verification (optional)
META_DOMAIN_VERIFICATION=

# Mailgun — for contact forms
MAILGUN_API_KEY=your-mailgun-api-key
MAILGUN_DOMAIN=your-mailgun-domain
